//
// home.scss
//
.bg-home-60 {
    background-position: center center;
    position: relative;
    min-height: 60vh;
    height: auto;
    display: flex;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.bg-home {
    background-image: url("../assets/test/homeImage2.png");
    background-position: center center;
    position: relative;
    top: 10px;
    // height: 100vh;
    height: 70vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    // animation-name: banner;
    // animation-duration: 3s;
    // animation-iteration-count: infinite;
    // perspective: 1000;
}

@keyframes banner {
    0% {
        background-image: url("../assets/test/home1.png");
    }
    25% {
        background-image: url("../assets/test/home2.png");
    }
    50% {
        background-image: url("../assets/test/home3.png");
    }
    75% {
        background-image: url("../assets/test/home4.png");
    }
    100% {
        background-image: url("../assets/test/home5.png");
    }
}

.bg-home-6 {
    position: relative;
    // padding: 180px 0px 150px 0px;
    padding: 150px 0px 100px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-text {
    h2 {
        // color: #253b5c;
        // font-size: 67px;
        // line-height: 76px;
        vertical-align: baseline;
        letter-spacing: normal;
        font-weight: 900;
        text-transform: uppercase;
        font-family: inherit;
    }
    h1 {
        // color: #253b5c;
        // font-size: 101px;
        // line-height: 76px;
        vertical-align: baseline;
        letter-spacing: normal;
        font-weight: 900;
        text-transform: uppercase;
        font-family: inherit;
    }
    h3 {
        // color: #253b5c;
        // font-size: 25px;
        line-height: 42px;
        vertical-align: baseline;
        letter-spacing: normal;
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 470px;
        font-family: inherit;
    }
}
.illustration {
    display: flex;
    overflow: hidden;
    // position: relative;
    // width: 500px;
    // height: 500px;
    align-items: center;
    svg {
        position: absolute;
        // top: 0;
        // left: 0;
        right: 0;
        width: 100%;
        height: auto;
        // object-fit: contain;
    }
}
svg {
    width: 100%;
}
.device {
    perspective: 400;
}
// responsiveness
@media (max-width: 991px) {
    .home-text {
        h2 {
            line-height: 53px;
            font-size: 53px;
        }
        h1 {
            line-height: 79px;
            font-size: 65px;
        }
        h3 {
            line-height: 30px;
            font-size: 30px;
            margin-left: 235px;
        }
    }
}
@media (min-width: 200px) and (max-width: 768px) {
    .home-text {
        h2 {
            line-height: 29px;
            font-size: 29px;
        }
        h1 {
            line-height: 60px;
            font-size: 50px;
        }
        h3 {
            line-height: 23px;
            font-size: 16px;
            margin-left: 215px;
        }
    }
}

.bg-home-services {
    position: relative;
    // padding: 180px 0px 150px 0px;
    padding: 80px 0px 65px 0px;
    background-image: url(../assets/bg/bg-1.png);
    background-position: center center;
}

.bg-home-use {
    position: relative;
    padding: 100px 0px 150px 0px;
    // background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../assets/bg/why3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.test-animate-img {
    position: relative;
    z-index: -2;
    img {
        position: absolute;
        height: 500px;
    }
}

.bg-home-solutions {
    margin-top: 120px;
    background-image: url("../assets/gif/solution.gif");
    background-position: center center;
    position: relative;
    height: 70vh;
    display: flex;
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;
    // animation-name: banner-solutions;
    // animation-duration: 10s;
    // animation-iteration-count: infinite;
    perspective: 1000;
}

@keyframes banner-solutions {
    // 0% {
    //     background-image: url("../assets/solutions/SKYLIGHTS6a.png");
    // }
    // 25% {
    //     background-image: url("../assets/solutions/SKYLIGHTS6b.png");
    // }
    // 50% {
    //     background-image: url("../assets/solutions/SKYLIGHTS6c.png");
    // }
    // 75% {
    //     background-image: url("../assets/solutions/SKYLIGHTS6d.png");
    // }
    // 100% {
    //     background-image: url("../assets/solutions/SKYLIGHTS6e.png");
    // }
    0% {
        background-image: url("../assets/solutions/SKYLIGHTS6a.png");
    }
    18% {
        background-image: url("../assets/solutions/SKYLIGHTS6b.png");
    }
    36% {
        background-image: url("../assets/solutions/SKYLIGHTS6c.png");
    }
    54% {
        background-image: url("../assets/solutions/SKYLIGHTS6d.png");
    }
    72% {
        background-image: url("../assets/solutions/SKYLIGHTS6e.png");
    }
    100% {
        background-image: url("../assets/solutions/SKYLIGHTS6f.png");
    }
}
@media (max-width: 991px) {
    .bg-home-solutions {
        margin-top: 80px;
    }
}

.section-footer {
    background-color: $bg-dark-gradient !important;
}
